body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px

 
  }


  .formulario label {
    margin-bottom: 5px;
  
.checkbox text {
apperance: none;
border-radius:50%  
}